<article class="bg-white rounded-3xl overflow-hidden p-6 shadow-md">

  <a [routerLink]="['/product', product.id]" routerLinkActive="router-link-active">
    <img class="object-cover mx-auto max-h-[200px] transition-transform duration-300 hover:scale-110" [src]="product.image" alt="product.title">
  </a>
  <div class="flex flex-col gap-1 pt-4">
    <a [routerLink]="['/product', product.id]" routerLinkActive="router-link-active">
      <h2 class="font-comfortaa font-bold text-lg text-darky text-balance">{{product.title}}</h2>
    </a>
    <div class="flex items-center gap-2">
      <app-star [value] = "product.rating.rate" />
      <span class="text-darky text-sm font-medium pt-px">{{product.rating.count}}</span>
    </div>
    <span class="text-lg font-bold text-primary my-2">$ {{product.price}}</span>
    <button class="group flex gap-2 justify-center items-center bg-primary text-white mt-4 py-2 rounded-full hover:bg-secondary" type="button">
      <svg class="group-hover:animate-bouncex "
        width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="m21 5-2 7H7.377M20 16H8L6 3H3m13 2.5h-2.5m0 0H11m2.5 0V8m0-2.5V3M9 20a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm11 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        Add to cart
    </button>
  </div>
</article>
