<button
  type="button"
  (click) = "showCategorySelected()"
  class="font-comfortaa text-nowrap bg-primary text-white px-5 py-2 rounded-full cursor-pointer hover:bg-secondary"
  id="{{ chipItem }}">
  {{ chipItem | titlecase}}
</button>

<!-- <input type="checkbox" id="{{ chipItem }}" (click) = "showCategorySelected()" class="peer hidden">
<label for="{{ chipItem }}" class="font-comfortaa text-nowrap bg-primary text-white px-4 py-2 rounded-full cursor-pointer hover:bg-secondary peer-checked:bg-darky">
  {{ chipItem | titlecase }}
</label> -->
