<section class="max-w-[1280px] mx-auto mt-4">
  <form class="flex relative p-4">
    <input
      type="text"
      [formControl] = "textSearchFC"
      id="inputSearch"
      class="w-full rounded-full pl-10 py-2 caret-primary outline-none focus:ring focus:ring-primary"
      placeholder="Hola, ¿Qué buscas hoy?">
    <svg class="absolute left-6 top-6"  width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#6b7280" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.796 15.811 21 21m-3-10.5a7.5 7.5 0 1 1-15 0 7.5 7.5 0 0 1 15 0Z"/></svg>
  </form>
</section>
<section class="max-w-[1280px] mx-auto flex gap-4 p-4 overflow-x-auto custom-scroll">
  @for (category of categories; track category) {
    <app-chip [chipItem]="category" (categoryEmitter)="getSelectedCategory(category)"></app-chip>
  }
</section>
<section class="max-w-[1280px] mx-auto grid grid-cols-flow gap-6 p-4">
  @for (product of products; track product.id) {
    <app-card-product [product]="product" />
  }
</section>
<!-- <router-outlet></router-outlet> -->
