<section class="max-w-[1280px] mx-auto mt-4">
  <app-search-product (searchEmitter)="searchedProduct($event)"/>
</section>
<section class="max-w-[1280px] mx-auto flex gap-4 p-4 overflow-x-auto custom-scroll">
  @for (category of categories; track category) {
    <app-chip [chipItem]="category" (categoryEmitter)="getSelectedCategory(category)"></app-chip>
  }
</section>
<section class="max-w-[1280px] mx-auto grid grid-cols-flow gap-6 p-4">
  @for (product of products; track product.id) {
    <app-card-product [product]="product" />
  }
</section>
<!-- <router-outlet></router-outlet> -->
